absl-py
alabaster
# anaconda-client
# anaconda-navigator
# anaconda-project
asn1crypto
astor
astroid
astropy
Babel
backports-datetime-fromisoformat
backports.shutil-get-terminal-size
backports.weakref
beautifulsoup4
bitarray
# blaze
bleach
bokeh
boto
boto3
botocore
Bottleneck
branca
cachetools
certifi
cffi
chardet
click
cloudpickle
# clyent
colorama
comtypes
# conda
contextlib2
cryptography
cycler
Cython
cytoolz
dask
# datashape
decorator
distributed
docutils
entrypoints
environment-kernels
et-xmlfile
fastcache
Flask
Flask-Cors
folium
gast
gensim
gevent
google-api-python-client
google-auth
google-auth-httplib2
graphrole
graphviz
greenlet
grpcio
h5py
HeapDict
html5lib
httplib2
icc-rt
idna
imagesize
imbalanced-learn
imblearn
ipaddress
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itsdangerous
jdcal
jedi
Jinja2
jmespath
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-core
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
Keras
Keras-Applications
Keras-Preprocessing
keras-self-attention
keyring
kiwisolver
lazy-object-proxy
llvmlite
locket
lxml
Mako
Markdown
MarkupSafe
matplotlib
# menuinst
mistune
mkl-fft
mock
mpmath
# msgpack-python
# multipledispatch
# navigator-updater
nbconvert
nbformat
networkx
nltk
node2vec
nose
notebook
numba
numexpr
numpy
numpydoc
# odo
olefile
openpyxl
packaging
pandas
pandocfilters
partd
path.py
pathlib2
patsy
pep8
pickleshare
Pillow
ply
prompt-toolkit
protobuf
psutil
py
py7zr
pyasn1
pyasn1-modules
pycodestyle
pycosat
pycparser
pycrypto
pycurl
pydot
pyemd
pyflakes
Pygments
# pygpu
pylint
pyodbc
pyOpenSSL
pyparsing
PySocks
pytest
python-dateutil
python-git
python-igraph
pytz
PyWavelets
# pywin32
PyYAML
pyzmq
QtAwesome
qtconsole
QtPy
requests
rope-py3k
rsa
s3transfer
# scikit-image
scikit-learn
scipy
seaborn
Send2Trash
simplegeneric
singledispatch
six
# sklearn
smart-open
snowballstemmer
sortedcollections
sortedcontainers
sphinx
spyder
spyder-kernels
SQLAlchemy
statsmodels
sympy
tables
tblib
tensorboard
tensorflow
tensorflow-estimator
tensorflow-serving-api
termcolor
testpath
texttable
# Theano
toolz
torch
torchdiffeq
torchvision
tornado
tqdm
traitlets
umap-learn
unicodecsv
uritemplate
urllib3
wcwidth
Werkzeug
wget
widgetsnbextension
win-inet-pton
win-unicode-console
wincertstore
witwidget
wrapt
xgboost
xlrd
XlsxWriter
xlwings
xlwt
zict
